In [1]:
# String Based Assignment Problem

#Question 1.  Write a program to reverse a string.

def reverse_string(input_string):
    return input_string[::-1]

# Example usage:
original_string = "Hello, World!"
reversed_string = reverse_string(original_string)

print("Original String:", original_string)
print("Reversed String:", reversed_string)

Original String: Hello, World!
Reversed String: !dlroW ,olleH

In [2]:
#Question 2. Check if a string is a palindrome.

def is_palindrome(input_string):
    # Remove spaces and convert to lowercase for case-insensitive comparison
    cleaned_string = ''.join(input_string.split()).lower()
    return cleaned_string == cleaned_string[::-1]

# Example usage:
test_string = "level"
result = is_palindrome(test_string)

print(f"Is '{test_string}' a palindrome? {result}")

Is 'level' a palindrome? True

In [3]:
#Question 3. Convert a string to uppercase.
input_string = "Hello, World!"
uppercase_string = input_string.upper()

print("Original String:", input_string)
print("Uppercase String:", uppercase_string)

Original String: Hello, World!
Uppercase String: HELLO, WORLD!

In [4]:
#Question 4. Convert a string to lowercase.

input_string = "Hello, World!"
lowercase_string = input_string.lower()

print("Original String:", input_string)
print("Lowercase String:", lowercase_string)

Original String: Hello, World!
Lowercase String: hello, world!

In [5]:
#Question 5.  Count the number of vowels in a string.
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    count = 0

    for char in input_string:
        if char in vowels:
            count += 1

    return count

# Example usage:
test_string = "Hello, World!"
vowel_count = count_vowels(test_string)

print(f"The number of vowels in '{test_string}' is: {vowel_count}")

The number of vowels in 'Hello, World!' is: 3

In [6]:
#Question 6. Count the number of consonants in a string.
def count_consonants(input_string):
    vowels = "aeiouAEIOU"
    consonant_count = 0

    for char in input_string:
        if char.isalpha() and char not in vowels:
            consonant_count += 1

    return consonant_count

# Example usage:
test_string = "Hello, World!"
consonant_count = count_consonants(test_string)

print(f"The number of consonants in '{test_string}' is: {consonant_count}")

The number of consonants in 'Hello, World!' is: 7

In [7]:
#Question 7. Remove all whitespaces from a string.
def remove_whitespace(input_string):
    return input_string.replace(" ", "")

# Example usage:
original_string = "Hello,   World!"
no_whitespace_string = remove_whitespace(original_string)

print("Original String:", original_string)
print("String without Whitespace:", no_whitespace_string)

Original String: Hello,   World!
String without Whitespace: Hello,World!

In [8]:
#Question 8. Find the length of a string without using the `len()` function.
def calculate_string_length(input_string):
    count = 0
    for char in input_string:
        count += 1
    return count

# Example usage:
original_string = "Hello, World!"
string_length = calculate_string_length(original_string)

print("Original String:", original_string)
print("Length of the String:", string_length)

Original String: Hello, World!
Length of the String: 13

In [9]:
#Question 9. Check if a string contains a specific word.
def contains_word(input_string, target_word):
    return target_word in input_string

# Example usage:
main_string = "Hello, World! This is an example."
search_word = "World"

if contains_word(main_string, search_word):
    print(f"The string '{main_string}' contains the word '{search_word}'.")
else:
    print(f"The string '{main_string}' does not contain the word '{search_word}'.")

The string 'Hello, World! This is an example.' contains the word 'World'.

In [10]:
#Question 10. Replace a word in a string with another word.
def replace_word(input_string, old_word, new_word):
    return input_string.replace(old_word, new_word)

# Example usage:
original_string = "Hello, World! This is an example."
old_word_to_replace = "World"
new_word = "Universe"

modified_string = replace_word(original_string, old_word_to_replace, new_word)

print("Original String:", original_string)
print("Modified String:", modified_string)

Original String: Hello, World! This is an example.
Modified String: Hello, Universe! This is an example.

In [11]:
#Question 11. Count the occurrences of a word in a string.

def count_occurrences(input_string, target_word):
    return input_string.lower().split().count(target_word.lower())

# Example usage:
main_string = "Hello, World! This is an example. Hello World!"
search_word = "Hello"

occurrence_count = count_occurrences(main_string, search_word)
print(f"The word '{search_word}' occurs {occurrence_count} times in the string.")

The word 'Hello' occurs 1 times in the string.

In [12]:
#Question 12.  Find the first occurrence of a word in a string.
def find_first_occurrence(input_string, target_word):
    words = input_string.split()
    try:
        index = words.index(target_word)
        return index
    except ValueError:
        return -1

# Example usage:
main_string = "Hello, World! This is an example. Hello World!"
search_word = "Hello"

first_occurrence_index = find_first_occurrence(main_string, search_word)
print(f"The first occurrence of the word '{search_word}' is at index {first_occurrence_index}.")

The first occurrence of the word 'Hello' is at index 6.

In [13]:
#Question 13. Find the last occurrence of a word in a string.
def find_last_occurrence(input_string, target_word):
    words = input_string.split()
    try:
        index = len(words) - 1 - words[::-1].index(target_word)
        return index
    except ValueError:
        return -1

# Example usage:
main_string = "Hello, World! This is an example. Hello World!"
search_word = "Hello"

last_occurrence_index = find_last_occurrence(main_string, search_word)
print(f"The last occurrence of the word '{search_word}' is at index {last_occurrence_index}.")

The last occurrence of the word 'Hello' is at index 6.

In [14]:
#Question 14. Split a string into a list of words.
def split_string(input_string):
    return input_string.split()

# Example usage:
original_string = "Hello, World! This is an example."

word_list = split_string(original_string)
print("Original String:", original_string)
print("List of Words:", word_list)

Original String: Hello, World! This is an example.
List of Words: ['Hello,', 'World!', 'This', 'is', 'an', 'example.']

In [15]:
#Question 15. Join a list of words into a string.
def join_words(word_list):
    return ' '.join(word_list)

# Example usage:
word_list = ["Hello,", "World!", "This", "is", "an", "example."]

joined_string = join_words(word_list)
print("List of Words:", word_list)
print("Joined String:", joined_string)

List of Words: ['Hello,', 'World!', 'This', 'is', 'an', 'example.']
Joined String: Hello, World! This is an example.

In [16]:
#Question 16. Convert a string where words are separated by spaces to one where words
                 #are separated by underscores.

def convert_to_underscore(input_string):
    return input_string.replace(" ", "_")

# Example usage:
original_string = "Hello World! This is an example."

underscored_string = convert_to_underscore(original_string)
print("Original String:", original_string)
print("Underscored String:", underscored_string)

Original String: Hello World! This is an example.
Underscored String: Hello_World!_This_is_an_example.

In [17]:
#Question 17. Check if a string starts with a specific word or phrase.
def starts_with_word(input_string, target_word):
    return input_string.lower().startswith(target_word.lower())

# Example usage:
main_string = "Hello, World! This is an example."
start_word = "hello"

starts_with = starts_with_word(main_string, start_word)
print(f"The string starts with the word '{start_word}': {starts_with}")

The string starts with the word 'hello': True

In [18]:
#Question 18. Check if a string ends with a specific word or phrase.
def ends_with_word(input_string, target_word):
    return input_string.lower().endswith(target_word.lower())

# Example usage:
main_string = "Hello, World! This is an example."
end_word = "example"

ends_with = ends_with_word(main_string, end_word)
print(f"The string ends with the word '{end_word}': {ends_with}")

The string ends with the word 'example': False

In [19]:
#Question 19. Convert a string to title case (e.g., "hello world" to "Hello World").
def title_case(input_string):
    return input_string.title()

# Example usage:
original_string = "hello world"

title_cased_string = title_case(original_string)
print("Original String:", original_string)
print("Title Cased String:", title_cased_string)

Original String: hello world
Title Cased String: Hello World

In [20]:
#Question 20. Find the longest word in a string.
def find_longest_word(input_string):
    words = input_string.split()
    return max(words, key=len)

# Example usage:
main_string = "Hello, World! This is an example."

longest_word = find_longest_word(main_string)
print(f"The longest word in the string is: '{longest_word}'")

The longest word in the string is: 'example.'

In [21]:
#Question 21. Find the shortest word in a string.
def find_shortest_word(input_string):
    words = input_string.split()
    return min(words, key=len)

# Example usage:
main_string = "Hello, World! This is an example."

shortest_word = find_shortest_word(main_string)
print(f"The shortest word in the string is: '{shortest_word}'")

The shortest word in the string is: 'is'

In [22]:
#Question 22. Reverse the order of words in a string.
def reverse_word_order(input_string):
    words = input_string.split()
    reversed_string = ' '.join(reversed(words))
    return reversed_string

# Example usage:
original_string = "Hello, World! This is an example."

reversed_string = reverse_word_order(original_string)
print("Original String:", original_string)
print("Reversed String:", reversed_string)

Original String: Hello, World! This is an example.
Reversed String: example. an is This World! Hello,

In [23]:
    #Question 23. Check if a string is alphanumeric.
    def is_alphanumeric(input_string):
       return input_string.isalnum()

# Example usage:
test_string = "Hello123"

is_alpha_numeric = is_alphanumeric(test_string)
print(f"The string '{test_string}' is alphanumeric: {is_alpha_numeric}")

The string 'Hello123' is alphanumeric: True

In [24]:
#Question 24. Extract all digits from a string.
def extract_digits(input_string):
    return ''.join(char for char in input_string if char.isdigit())

# Example usage:
main_string = "Hello123World456"

digits_only = extract_digits(main_string)
print(f"The digits in the string are: {digits_only}")

The digits in the string are: 123456

In [25]:
#Question 25. Extract all alphabets from a string.
def extract_alphabets(input_string):
    return ''.join(char for char in input_string if char.isalpha())

# Example usage:
main_string = "Hello123World"

alphabets_only = extract_alphabets(main_string)
print(f"The alphabets in the string are: {alphabets_only}")

The alphabets in the string are: HelloWorld

In [26]:
#Question 26. Count the number of uppercase letters in a string.
def count_uppercase_letters(input_string):
    return sum(1 for char in input_string if char.isupper())

# Example usage:
test_string = "Hello World"

uppercase_count = count_uppercase_letters(test_string)
print(f"The number of uppercase letters in the string is: {uppercase_count}")

The number of uppercase letters in the string is: 2

In [27]:
#Question 27. Count the number of lowercase letters in a string.
def count_lowercase_letters(input_string):
    return sum(1 for char in input_string if char.islower())

# Example usage:
test_string = "Hello World"

lowercase_count = count_lowercase_letters(test_string)
print(f"The number of lowercase letters in the string is: {lowercase_count}")

The number of lowercase letters in the string is: 8

In [28]:
#Question 28. Swap the case of each character in a string.
def swap_case(input_string):
    return input_string.swapcase()

# Example usage:
original_string = "Hello World"

swapped_string = swap_case(original_string)
print("Original String:", original_string)
print("Swapped Case String:", swapped_string)

Original String: Hello World
Swapped Case String: hELLO wORLD

In [29]:
#Question 29. Remove a specific word from a string.
def remove_word(input_string, target_word):
    return ' '.join(word for word in input_string.split() if word.lower() != target_word.lower())

# Example usage:
main_string = "Hello, World! This is an example."
word_to_remove = "world"

string_without_word = remove_word(main_string, word_to_remove)
print(f"The string without the word '{word_to_remove}' is: '{string_without_word}'")

The string without the word 'world' is: 'Hello, World! This is an example.'

In [30]:
#Question 30. Check if a string is a valid email address.
import re

def is_valid_email(email):
    pattern = re.compile(r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$')
    return bool(pattern.match(email))

# Example usage:
email_address = "example@example.com"

is_valid = is_valid_email(email_address)
print(f"The email address '{email_address}' is valid: {is_valid}")

The email address 'example@example.com' is valid: True

In [31]:
#Question 31. Extract the username from an email address string.
def extract_username(email):
    return email.split('@')[0]

# Example usage:
email_address = "example@example.com"

username = extract_username(email_address)
print(f"The username from the email address '{email_address}' is: '{username}'")

The username from the email address 'example@example.com' is: 'example'

In [32]:
#Question 32. Extract the domain name from an email address string.
def extract_domain(email):
    return email.split('@')[1]

# Example usage:
email_address = "example@example.com"

domain = extract_domain(email_address)
print(f"The domain from the email address '{email_address}' is: '{domain}'")

The domain from the email address 'example@example.com' is: 'example.com'

In [33]:
#Question33. Replace multiple spaces in a string with a single space.
def replace_multiple_spaces(input_string):
    return ' '.join(input_string.split())

# Example usage:
original_string = "Hello    World! This   is an   example."

string_with_single_space = replace_multiple_spaces(original_string)
print("Original String:", original_string)
print("String with Single Space:", string_with_single_space)

Original String: Hello    World! This   is an   example.
String with Single Space: Hello World! This is an example.

In [34]:
#Question34. Check if a string is a valid URL.
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Example usage:
url = "https://www.example.com"

is_valid = is_valid_url(url)
print(f"The URL '{url}' is valid: {is_valid}")

The URL 'https://www.example.com' is valid: True

In [35]:
#Question35. Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    return urlparse(url).scheme

# Example usage:
url = "https://www.example.com"

protocol = extract_protocol(url)
print(f"The protocol from the URL '{url}' is: '{protocol}'")

The protocol from the URL 'https://www.example.com' is: 'https'

In [36]:
#Question36. Find the frequency of each character in a string.
from collections import Counter

def character_frequency(input_string):
    return Counter(input_string)

# Example usage:
test_string = "Hello, World!"

frequency_dict = character_frequency(test_string)
print(f"The frequency of each character in the string is: {frequency_dict}")

The frequency of each character in the string is: Counter({'l': 3, 'o': 2, 'H': 1, 'e': 1, ',': 1, ' ': 1, 'W': 1, 'r': 1, 'd': 1, '!': 1})

In [37]:
#Question37. Remove all punctuation from a string.
import string

def remove_punctuation(input_string):
    return input_string.translate(str.maketrans("", "", string.punctuation))

# Example usage:
original_string = "Hello, World!"

string_without_punctuation = remove_punctuation(original_string)
print("Original String:", original_string)
print("String without Punctuation:", string_without_punctuation)

Original String: Hello, World!
String without Punctuation: Hello World

In [38]:
#Question38. Check if a string contains only digits.
def contains_only_digits(input_string):
    return input_string.isdigit()

# Example usage:
test_string = "123456"

contains_digits_only = contains_only_digits(test_string)
print(f"The string '{test_string}' contains only digits: {contains_digits_only}")

The string '123456' contains only digits: True

In [39]:
#Question39. Check if a string contains only alphabets.
def contains_only_alphabets(input_string):
    return input_string.isalpha()

# Example usage:
test_string = "HelloWorld"

contains_alphabets_only = contains_only_alphabets(test_string)
print(f"The string '{test_string}' contains only alphabets: {contains_alphabets_only}")

The string 'HelloWorld' contains only alphabets: True

In [40]:
#Question40. Convert a string to a list of characters.
def string_to_list(input_string):
    return list(input_string)

# Example usage:
original_string = "Hello, World!"

char_list = string_to_list(original_string)
print("Original String:", original_string)
print("List of Characters:", char_list)

Original String: Hello, World!
List of Characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [41]:
#Question 41. Check if two strings are anagrams.
def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

# Example usage:
string1 = "listen"
string2 = "silent"

are_anagrams_result = are_anagrams(string1, string2)
print(f"The strings '{string1}' and '{string2}' are anagrams: {are_anagrams_result}")

The strings 'listen' and 'silent' are anagrams: True

In [42]:
#Question 42. Encode a string using a Caesar cipher.
def caesar_cipher_encode(input_string, shift):
    result = ""
    for char in input_string:
        if char.isalpha():
            base = ord('A') if char.isupper() else ord('a')
            result += chr((ord(char) - base + shift) % 26 + base)
        else:
            result += char
    return result

# Example usage:
original_string = "Hello, World!"
shift_value = 3

encoded_string = caesar_cipher_encode(original_string, shift_value)
print(f"The original string: '{original_string}'")
print(f"The encoded string: '{encoded_string}'")

The original string: 'Hello, World!'
The encoded string: 'Khoor, Zruog!'

In [43]:
#Question 43. Decode a Caesar cipher encoded string.
def caesar_cipher_decode(encoded_string, shift):
    return caesar_cipher_encode(encoded_string, -shift)

# Example usage:
encoded_string = "Khoor, Zruog!"
shift_value = 3

decoded_string = caesar_cipher_decode(encoded_string, shift_value)
print(f"The encoded string: '{encoded_string}'")
print(f"The decoded string: '{decoded_string}'")

The encoded string: 'Khoor, Zruog!'
The decoded string: 'Hello, World!'

In [44]:
#Question 44. Find the most frequent word in a string.
from collections import Counter

def most_frequent_word(input_string):
    words = input_string.split()
    word_counts = Counter(words)
    most_common_word, _ = word_counts.most_common(1)[0]
    return most_common_word

# Example usage:
main_string = "Hello, World! Hello, Universe! Hello, World!"

most_frequent = most_frequent_word(main_string)
print(f"The most frequent word in the string is: '{most_frequent}'")

The most frequent word in the string is: 'Hello,'

In [45]:
#Question 45. Find all unique words in a string:
def unique_words(input_string):
    return set(input_string.split())

# Example usage:
main_string = "Hello, World! Hello, Universe! Hello, World!"

unique_words_set = unique_words(main_string)
print(f"The unique words in the string are: {unique_words_set}")

The unique words in the string are: {'Hello,', 'World!', 'Universe!'}

In [46]:
#Question 46. Count the number of syllables in a string.
def count_syllables(word):
    vowels = "aeiouAEIOU"
    count = 0
    for char in word:
        if char in vowels:
            count += 1
    return count

def count_syllables_in_string(input_string):
    words = input_string.split()
    total_syllables = sum(count_syllables(word) for word in words)
    return total_syllables

# Example usage:
test_string = "Hello, World! This is an example."

syllable_count = count_syllables_in_string(test_string)
print(f"The number of syllables in the string is: {syllable_count}")

The number of syllables in the string is: 9

In [47]:
#Question 47. Check if a string contains any special characters.
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern for special characters
    pattern = re.compile('[!@#$%^&*(),.?":{}|<>]')

    # Use the pattern to search for special characters in the string
    return bool(pattern.search(input_string))

# Example usage:
test_string = "Hello, World!"

contains_special_chars = contains_special_characters(test_string)
print(f"The string '{test_string}' contains special characters: {contains_special_chars}")

The string 'Hello, World!' contains special characters: True

In [48]:
#Question 48. Remove the nth word from a string.
def remove_nth_word(input_string, n):
    words = input_string.split()
    
    # Ensure that n is a valid index
    if 0 <= n < len(words):
        del words[n]

    return ' '.join(words)

# Example usage:
original_string = "This is a sample sentence to demonstrate removing a word."
index_to_remove = 3  # Remove the 4th word (0-based index)

modified_string = remove_nth_word(original_string, index_to_remove)
print("Original String:", original_string)
print("Modified String:", modified_string)

Original String: This is a sample sentence to demonstrate removing a word.
Modified String: This is a sentence to demonstrate removing a word.

In [49]:
#Question 49. Insert a word at the nth position in a string.
def insert_word_at_position(input_string, new_word, n):
    words = input_string.split()

    # Ensure that n is a valid index
    if 0 <= n <= len(words):
        words.insert(n, new_word)

    return ' '.join(words)

# Example usage:
original_string = "This is a sample sentence to demonstrate inserting a word."
word_to_insert = "new_word"
position_to_insert = 5  # Insert at the 6th position (0-based index)

modified_string = insert_word_at_position(original_string, word_to_insert, position_to_insert)
print("Original String:", original_string)
print("Modified String:", modified_string)

Original String: This is a sample sentence to demonstrate inserting a word.
Modified String: This is a sample sentence new_word to demonstrate inserting a word.

In [50]:
#Question 50. Convert a CSV string to a list of lists.
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Use StringIO to convert the CSV string to a file-like object
    csv_file = StringIO(csv_string)

    # Use the csv.reader to read the CSV content into a list of lists
    csv_reader = csv.reader(csv_file)
    csv_list = [row for row in csv_reader]

    return csv_list

# Example usage:
csv_string = "Name,Age,Country\nJohn,25,USA\nAlice,30,Canada\nBob,22,UK"

csv_list = csv_string_to_list(csv_string)
print("List of Lists:")
for row in csv_list:
    print(row)

List of Lists:
['Name', 'Age', 'Country']
['John', '25', 'USA']
['Alice', '30', 'Canada']
['Bob', '22', 'UK']

In [51]:
# List Based Practice Problem :
# Question 1. Create a list with integers from 1 to 10.
integer_list = list(range(1, 11))
print(" List with integers from 1 to 10:", integer_list)

 List with integers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
#Question  2. Find the length of a list without using the `len()` function.
def calculate_list_length(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count

list_length = calculate_list_length(integer_list)
print(" Length of the list:", list_length)

 Length of the list: 10

In [53]:
#Question  3. Append an element to the end of a list.
element_to_append = 11
integer_list.append(element_to_append)
print(" List after appending an element:", integer_list)

 List after appending an element: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [54]:
#Question  4. Insert an element at a specific index in a list.
element_to_insert = 0
index_to_insert = 2
integer_list.insert(index_to_insert, element_to_insert)
print(" List after inserting an element at index 2:", integer_list)

 List after inserting an element at index 2: [1, 2, 0, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [55]:
#Question 5. Remove an element from a list by its value.
element_to_remove = 5
integer_list.remove(element_to_remove)
print(" List after removing element '5':", integer_list)

 List after removing element '5': [1, 2, 0, 3, 4, 6, 7, 8, 9, 10, 11]

In [56]:
#Question  6. Remove an element from a list by its index.
index_to_remove = 3
removed_element = integer_list.pop(index_to_remove)
print(f" List after removing element at index {index_to_remove}:", integer_list)
print(f"   Removed element: {removed_element}")

 List after removing element at index 3: [1, 2, 0, 4, 6, 7, 8, 9, 10, 11]
   Removed element: 3

In [57]:
#Question  7. Check if an element exists in a list.
element_to_check = 8
exists_in_list = element_to_check in integer_list
print(f" Element {element_to_check} exists in the list: {exists_in_list}")

 Element 8 exists in the list: True

In [58]:
#Question  8. Find the index of the first occurrence of an element in a list.
element_to_find = 7
index_of_element = integer_list.index(element_to_find)
print(f" Index of the first occurrence of element {element_to_find}:", index_of_element)

 Index of the first occurrence of element 7: 5

In [59]:
# Question 9. Count the occurrences of an element in a list.
element_to_count = 2
occurrences_count = integer_list.count(element_to_count)
print(f" Number of occurrences of element {element_to_count} in the list:", occurrences_count)

 Number of occurrences of element 2 in the list: 1

In [60]:
#Question  10. Reverse the order of elements in a list.
integer_list.reverse()
print(" List after reversing the order of elements:", integer_list)

 List after reversing the order of elements: [11, 10, 9, 8, 7, 6, 4, 0, 2, 1]

In [61]:
#Question 11. Sort a list in ascending order.

asc_sorted_list = sorted(integer_list)
print(" List sorted in ascending order:", asc_sorted_list)

 List sorted in ascending order: [0, 1, 2, 4, 6, 7, 8, 9, 10, 11]

In [62]:
#Question  12. Sort a list in descending order.
desc_sorted_list = sorted(integer_list, reverse=True)
print("List sorted in descending order:", desc_sorted_list)

List sorted in descending order: [11, 10, 9, 8, 7, 6, 4, 2, 1, 0]

In [63]:
# Question 13. Create a list of even numbers from 1 to 20.
even_numbers_list = list(range(2, 21, 2))
print(" List of even numbers from 1 to 20:", even_numbers_list)

 List of even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [64]:
#Question 14. Create a list of odd numbers from 1 to 20.
odd_numbers_list = list(range(1, 21, 2))
print(" List of odd numbers from 1 to 20:", odd_numbers_list)

 List of odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [65]:
#Question 15. Find the sum of all elements in a list.
list_sum = sum(integer_list)
print(" Sum of all elements in the list:", list_sum)

 Sum of all elements in the list: 58

In [66]:
#Question 16. Find the maximum value in a list.
max_value = max(integer_list)
print(" Maximum value in the list:", max_value)

 Maximum value in the list: 11

In [67]:
#Question 17. Find the minimum value in a list.
min_value = min(integer_list)
print(" Minimum value in the list:", min_value)

 Minimum value in the list: 0

In [68]:
#Question 18. Create a list of squares of numbers from 1 to 10.
squares_list = [x**2 for x in range(1, 11)]
print(" List of squares of numbers from 1 to 10:", squares_list)

 List of squares of numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [69]:
#Question 19. Create a list of random numbers.
import random
random_numbers_list = [random.randint(1, 100) for _ in range(10)]
print(" List of random numbers:", random_numbers_list)

 List of random numbers: [88, 19, 51, 52, 47, 29, 24, 56, 88, 26]

In [70]:
#Question 20. Remove duplicates from a list.
duplicated_list = [1, 2, 3, 2, 4, 5, 6, 7, 4]
unique_list = list(set(duplicated_list))
print(" List with duplicates removed:", unique_list)

 List with duplicates removed: [1, 2, 3, 4, 5, 6, 7]

In [71]:
#Question 21. Find the common elements between two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = list(set(list1) & set(list2))
print(" Common elements between two lists:", common_elements)

 Common elements between two lists: [3, 4, 5]

In [72]:
#Question  22. Find the difference between two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
difference_list = list(set(list1) - set(list2))
print(" Difference between two lists:", difference_list)

 Difference between two lists: [1, 2]

In [73]:
#Question 23. Merge two lists.
merged_list = list1 + list2
print(" Merged list:", merged_list)

 Merged list: [1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

In [74]:

#Question  24. Multiply all elements in a list by 2.
original_list = [1, 2, 3, 4, 5]
multiplied_list = [x * 2 for x in original_list]
print(" List with elements multiplied by 2:", multiplied_list)

 List with elements multiplied by 2: [2, 4, 6, 8, 10]

In [75]:
#Question  25. Filter out all even numbers from a list.
numbers_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list = [x for x in numbers_list if x % 2 != 0]
print(" List with even numbers filtered out:", filtered_list)

 List with even numbers filtered out: [1, 3, 5, 7, 9]

In [76]:
#Question 26. Convert a list of strings to a list of integers.

string_list = ["1", "2", "3", "4", "5"]
integer_list = list(map(int, string_list))
print(" List of strings converted to integers:", integer_list)

 List of strings converted to integers: [1, 2, 3, 4, 5]

In [77]:
#Question  27. Convert a list of integers to a list of strings.
integer_list = [1, 2, 3, 4, 5]
string_list = list(map(str, integer_list))
print(" List of integers converted to strings:", string_list)

 List of integers converted to strings: ['1', '2', '3', '4', '5']

In [78]:
#Question  28. Flatten a nested list.
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(" Flattened list:", flattened_list)

 Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
#Question  29. Create a list of the first 10 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    while len(fibonacci_list) < n:
        fibonacci_list.append(fibonacci_list[-1] + fibonacci_list[-2])
    return fibonacci_list

fibonacci_numbers = generate_fibonacci(10)
print(" List of the first 10 Fibonacci numbers:", fibonacci_numbers)

 List of the first 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [80]:
#Question  30. Check if a list is sorted.
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [5, 2, 1, 4, 3]
is_sorted = sorted(unsorted_list) == unsorted_list
print(" Is the list sorted?", is_sorted)

 Is the list sorted? False

In [81]:
#Question  31. Rotate a list to the left by `n` positions.
n = 2
rotated_left_list = unsorted_list[n:] + unsorted_list[:n]
print(f" List rotated to the left by {n} positions:", rotated_left_list)

 List rotated to the left by 2 positions: [1, 4, 3, 5, 2]

In [82]:
#Question  32. Rotate a list to the right by `n` positions.
rotated_right_list = unsorted_list[-n:] + unsorted_list[:-n]
print(f" List rotated to the right by {n} positions:", rotated_right_list)

 List rotated to the right by 2 positions: [4, 3, 5, 2, 1]

In [83]:
#Question  33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print(" List of prime numbers up to 50:", prime_numbers)

 List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [84]:
#Question  34. Split a list into chunks of size `n`.
chunk_size = 3
chunked_list = [unsorted_list[i:i+chunk_size] for i in range(0, len(unsorted_list), chunk_size)]
print(f" List split into chunks of size {chunk_size}:", chunked_list)

 List split into chunks of size 3: [[5, 2, 1], [4, 3]]

In [85]:
#Question  35. Find the second largest number in a list.
sorted_unique_list = sorted(set(unsorted_list), reverse=True)
second_largest = sorted_unique_list[1] if len(sorted_unique_list) > 1 else None
print(" Second largest number in the list:", second_largest)

 Second largest number in the list: 4

In [86]:
#Question  36. Replace every element in a list with its square.
squared_list = [x**2 for x in unsorted_list]
print(" List with elements replaced by their squares:", squared_list)

 List with elements replaced by their squares: [25, 4, 1, 16, 9]

In [87]:
#Question  37. Convert a list to a dictionary where list elements become keys and their indices become values.
dict_from_list = {value: index for index, value in enumerate(unsorted_list)}
print(" Dictionary created from the list:", dict_from_list)

 Dictionary created from the list: {5: 0, 2: 1, 1: 2, 4: 3, 3: 4}

In [88]:
#Question  38. Shuffle the elements of a list randomly.
import random
shuffled_list = random.sample(unsorted_list, len(unsorted_list))
print(" List with elements shuffled randomly:", shuffled_list)

 List with elements shuffled randomly: [5, 3, 2, 4, 1]

In [89]:
#Question  39. Create a list of the first 10 factorial numbers.
import math
factorial_numbers = [math.factorial(i) for i in range(10)]
print(" List of the first 10 factorial numbers:", factorial_numbers)

 List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [90]:
#Question 40.Check if two lists have at least one element in common.

list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
have_common_element = any(element in list2 for element in list1)
print(" Do the lists have at least one common element?", have_common_element)

 Do the lists have at least one common element? True

In [91]:
#Question  41. Remove all elements from a list.
list_to_clear = [1, 2, 3, 4, 5]
list_to_clear.clear()
print(" List after removing all elements:", list_to_clear)

 List after removing all elements: []

In [92]:
#Question  42. Replace negative numbers in a list with 0.
negative_numbers_list = [1, -2, 3, -4, 5]
non_negative_list = [max(0, num) for num in negative_numbers_list]
print("List with negative numbers replaced by 0:", non_negative_list)

List with negative numbers replaced by 0: [1, 0, 3, 0, 5]

In [93]:
#Question  43. Convert a string into a list of words.
string_to_split = "This is a sample sentence."
word_list = string_to_split.split()
print(" List of words from the string:", word_list)

 List of words from the string: ['This', 'is', 'a', 'sample', 'sentence.']

In [94]:
#Question  44. Convert a list of words into a string.
word_list_to_join = ["This", "is", "a", "sample", "list."]
string_from_list = ' '.join(word_list_to_join)
print("String from the list of words:", string_from_list)

String from the list of words: This is a sample list.

In [95]:
#Question  45. Create a list of the first `n` powers of 2.
n = 5
powers_of_2 = [2**i for i in range(n)]
print(" List of the first", n, "powers of 2:", powers_of_2)

 List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [96]:

#Question  46. Find the longest string in a list of strings.
strings_list = ["apple", "banana", "kiwi", "strawberry"]
longest_string = max(strings_list, key=len)
print(" Longest string in the list:", longest_string)

 Longest string in the list: strawberry

In [97]:
#Question  47. Find the shortest string in a list of strings.
shortest_string = min(strings_list, key=len)
print(" Shortest string in the list:", shortest_string)

 Shortest string in the list: kiwi

In [98]:
#Question  48. Create a list of the first `n` triangular numbers.
triangular_numbers = [i * (i + 1) // 2 for i in range(n)]
print(" List of the first", n, "triangular numbers:", triangular_numbers)

 List of the first 5 triangular numbers: [0, 1, 3, 6, 10]

In [99]:
#Question  49. Check if a list contains another list as a subsequence.
list3 = [1, 2, 3, 4, 5, 6]
is_subsequence = all(element in list3 for element in list1)
print(" Is list1 a subsequence of list3?", is_subsequence)

 Is list1 a subsequence of list3? True

In [100]:
#Question  50. Swap two elements in a list by their indices.
list_to_swap = [1, 2, 3, 4, 5]
index1, index2 = 1, 3
list_to_swap[index1], list_to_swap[index2] = list_to_swap[index2], list_to_swap[index1]
print(" List after swapping elements at indices", index1, "and", index2, ":", list_to_swap)

 List after swapping elements at indices 1 and 3 : [1, 4, 3, 2, 5]

In [101]:
#Tuple Based Practice Problem :
# 1. Create a tuple with integers from 1 to 5.
integer_tuple = tuple(range(1, 6))
print(" Tuple with integers from 1 to 5:", integer_tuple)

 Tuple with integers from 1 to 5: (1, 2, 3, 4, 5)

In [102]:
# 2. Access the third element of a tuple.
third_element = integer_tuple[2]
print(" Third element of the tuple:", third_element)

 Third element of the tuple: 3

In [103]:
# 3. Find the length of a tuple without using the `len()` function.
def calculate_tuple_length(input_tuple):
    count = 0
    for _ in input_tuple:
        count += 1
    return count

tuple_length = calculate_tuple_length(integer_tuple)
print(" Length of the tuple:", tuple_length)

 Length of the tuple: 5

In [104]:
# 4. Count the occurrences of an element in a tuple.
element_to_count = 3
occurrences_count = integer_tuple.count(element_to_count)
print(f" Number of occurrences of {element_to_count} in the tuple:", occurrences_count)

 Number of occurrences of 3 in the tuple: 1

In [105]:
# 5. Find the index of the first occurrence of an element in a tuple.
element_to_find_index = 4
index_of_element = integer_tuple.index(element_to_find_index)
print(f" Index of the first occurrence of {element_to_find_index} in the tuple:", index_of_element)

 Index of the first occurrence of 4 in the tuple: 3

In [106]:
# 6. Check if an element exists in a tuple.
element_to_check = 3
element_exists = element_to_check in integer_tuple
print(f" Element {element_to_check} exists in the tuple: {element_exists}")

 Element 3 exists in the tuple: True

In [107]:
# 7. Convert a tuple to a list.
tuple_to_list = list(integer_tuple)
print(" Tuple converted to a list:", tuple_to_list)

 Tuple converted to a list: [1, 2, 3, 4, 5]

In [108]:
# 8. Convert a list to a tuple.
list_to_tuple = tuple(tuple_to_list)
print("List converted to a tuple:", list_to_tuple)

List converted to a tuple: (1, 2, 3, 4, 5)

In [109]:
# 9. Unpack the elements of a tuple into variables.
var1, var2, var3, var4, var5 = integer_tuple
print(" Unpacked variables:", var1, var2, var3, var4, var5)

 Unpacked variables: 1 2 3 4 5

In [110]:
# 10. Create a tuple of even numbers from 1 to 10.
even_numbers_tuple = tuple(range(2, 11, 2))
print("Tuple of even numbers from 1 to 10:", even_numbers_tuple)

Tuple of even numbers from 1 to 10: (2, 4, 6, 8, 10)

In [111]:
# 11. Create a tuple of odd numbers from 1 to 10.
odd_numbers_tuple = tuple(range(1, 10, 2))
print(" Tuple of odd numbers from 1 to 10:", odd_numbers_tuple)

 Tuple of odd numbers from 1 to 10: (1, 3, 5, 7, 9)

In [112]:
# 12. Concatenate two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(" Concatenated tuple:", concatenated_tuple)

 Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [113]:
# 13. Repeat a tuple three times.
repeated_tuple = integer_tuple * 3
print(" Repeated tuple three times:", repeated_tuple)

 Repeated tuple three times: (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [114]:
# 14. Check if a tuple is empty.
empty_tuple = ()
is_empty = not bool(empty_tuple)
print(" Is the tuple empty?", is_empty)

 Is the tuple empty? True

In [115]:
# 15. Create a nested tuple.
nested_tuple = (1, (2, 3), 4)
print(" Nested tuple:", nested_tuple)

 Nested tuple: (1, (2, 3), 4)

In [116]:
# 16. Access the first element of a nested tuple.
first_element_of_nested = nested_tuple[0]
print(" First element of the nested tuple:", first_element_of_nested)

 First element of the nested tuple: 1

In [117]:
# 17. Create a tuple with a single element.
single_element_tuple = (42,)
print(" Tuple with a single element:", single_element_tuple)

 Tuple with a single element: (42,)

In [118]:
# 18. Compare two tuples.
tuple_a = (1, 2, 3)
tuple_b = (1, 2, 4)
comparison_result = (tuple_a > tuple_b) - (tuple_a < tuple_b)
print(" Comparison result of two tuples:", comparison_result)

 Comparison result of two tuples: -1

In [119]:
# 19. Delete a tuple.
del_tuple = (1, 2, 3)
del del_tuple
# After deletion, attempting to access del_tuple will result in an error.

In [120]:
# 20. Slice a tuple.
sliced_tuple = integer_tuple[1:4]
print(" Sliced tuple:", sliced_tuple)

 Sliced tuple: (2, 3, 4)

In [121]:
# 21. Find the maximum value in a tuple.
max_value_in_tuple = max(integer_tuple)
print(" Maximum value in the tuple:", max_value_in_tuple)

 Maximum value in the tuple: 5

In [122]:
# 22. Find the minimum value in a tuple.
min_value_in_tuple = min(integer_tuple)
print(" Minimum value in the tuple:", min_value_in_tuple)

 Minimum value in the tuple: 1

In [123]:
# 23. Convert a string to a tuple of characters.
string_to_convert = "Hello"
char_tuple = tuple(string_to_convert)
print(" Tuple of characters from the string:", char_tuple)

 Tuple of characters from the string: ('H', 'e', 'l', 'l', 'o')

In [124]:
# 24. Convert a tuple of characters to a string.
char_tuple_to_string = ''.join(char_tuple)
print(" String from the tuple of characters:", char_tuple_to_string)

 String from the tuple of characters: Hello

In [125]:
# 25. Create a tuple from multiple data types.
mixed_data_types_tuple = (1, "two", 3.0, [4, 5])
print(" Tuple with multiple data types:", mixed_data_types_tuple)

 Tuple with multiple data types: (1, 'two', 3.0, [4, 5])

In [126]:
# 26. Check if two tuples are identical.
tuple_a = (1, 2, 3)
tuple_b = (1, 2, 3)
are_identical = tuple_a == tuple_b
print(" Are the two tuples identical?", are_identical)

 Are the two tuples identical? True

In [127]:
# 27. Sort the elements of a tuple.
unsorted_tuple = (5, 3, 1, 4, 2)
sorted_tuple = tuple(sorted(unsorted_tuple))
print(" Sorted tuple:", sorted_tuple)

 Sorted tuple: (1, 2, 3, 4, 5)

In [128]:
# 28. Convert a tuple of integers to a tuple of strings.
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(map(str, int_tuple))
print(" Tuple of integers converted to a tuple of strings:", str_tuple)

 Tuple of integers converted to a tuple of strings: ('1', '2', '3', '4', '5')

In [129]:
# 29. Convert a tuple of strings to a tuple of integers.
str_to_int_tuple = tuple(map(int, str_tuple))
print("Tuple of strings converted to a tuple of integers:", str_to_int_tuple)

Tuple of strings converted to a tuple of integers: (1, 2, 3, 4, 5)

In [130]:
# 30. Merge two tuples.
tuple_c = (6, 7, 8)
merged_tuple = integer_tuple + tuple_c
print(" Merged tuple:", merged_tuple)

 Merged tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [131]:
# 31. Flatten a nested tuple.
nested_tuple_to_flatten = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(item for sublist in nested_tuple_to_flatten for item in sublist)
print(" Flattened tuple:", flattened_tuple)

 Flattened tuple: (1, 2, 3, 4, 5, 6)

In [132]:
# 32. Create a tuple of the first 5 prime numbers.
prime_numbers_tuple = (2, 3, 5, 7, 11)
print(" Tuple of the first 5 prime numbers:", prime_numbers_tuple)

 Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [133]:
# 33. Check if a tuple is a palindrome.
palindrome_tuple = (1, 2, 3, 2, 1)
is_palindrome = palindrome_tuple == palindrome_tuple[::-1]
print(" Is the tuple a palindrome?", is_palindrome)

 Is the tuple a palindrome? True

In [134]:
# 34. Create a tuple of squares of numbers from 1 to 5.
squares_tuple = tuple(x**2 for x in range(1, 6))
print(" Tuple of squares of numbers from 1 to 5:", squares_tuple)

 Tuple of squares of numbers from 1 to 5: (1, 4, 9, 16, 25)

In [135]:
# 35. Filter out all even numbers from a tuple.
even_numbers_tuple = tuple(x for x in integer_tuple if x % 2 == 0)
print(" Tuple with even numbers filtered out:", even_numbers_tuple)

 Tuple with even numbers filtered out: (2, 4)

In [136]:
# 36. Multiply all elements in a tuple by 2.
multiplied_tuple = tuple(x * 2 for x in integer_tuple)
print(" Tuple with elements multiplied by 2:", multiplied_tuple)

 Tuple with elements multiplied by 2: (2, 4, 6, 8, 10)

In [137]:
# 37. Create a tuple of random numbers.
import random
random_numbers_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(" Tuple of random numbers:", random_numbers_tuple)

 Tuple of random numbers: (47, 30, 69, 84, 62)

In [138]:
# 38. Check if a tuple is sorted.
sorted_tuple = tuple(sorted(unsorted_tuple))
is_sorted_tuple = sorted_tuple == unsorted_tuple
print(" Is the tuple sorted?", is_sorted_tuple)

 Is the tuple sorted? False

In [139]:
# 39. Rotate a tuple to the left by `n` positions.
n = 2
rotated_left_tuple = unsorted_tuple[n:] + unsorted_tuple[:n]
print(f" Tuple rotated to the left by {n} positions:", rotated_left_tuple)

 Tuple rotated to the left by 2 positions: (1, 4, 2, 5, 3)

In [140]:
# 40. Rotate a tuple to the right by `n` positions.
rotated_right_tuple = unsorted_tuple[-n:] + unsorted_tuple[:-n]
print(f" Tuple rotated to the right by {n} positions:", rotated_right_tuple)

 Tuple rotated to the right by 2 positions: (4, 2, 5, 3, 1)

In [141]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci_tuple(n):
    fibonacci_tuple = (0, 1)
    while len(fibonacci_tuple) < n:
        fibonacci_tuple += (fibonacci_tuple[-1] + fibonacci_tuple[-2],)
    return fibonacci_tuple

fibonacci_numbers_tuple = generate_fibonacci_tuple(5)
print(" Tuple of the first 5 Fibonacci numbers:", fibonacci_numbers_tuple)

 Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

In [142]:
# 42. Create a tuple from user input.
user_input_tuple = tuple(map(int, input(" Enter numbers separated by spaces: ").split()))
print(" Tuple created from user input:", user_input_tuple)

 Enter numbers separated by spaces:  1 2 3 4 5

 Tuple created from user input: (1, 2, 3, 4, 5)

In [143]:
# 43. Swap two elements in a tuple.
tuple_to_swap = (1, 2, 3, 4, 5)
index1, index2 = 1, 3
list_from_tuple = list(tuple_to_swap)
list_from_tuple[index1], list_from_tuple[index2] = list_from_tuple[index2], list_from_tuple[index1]
swapped_tuple = tuple(list_from_tuple)
print(f"Tuple after swapping elements at indices {index1} and {index2}:", swapped_tuple)

Tuple after swapping elements at indices 1 and 3: (1, 4, 3, 2, 5)

In [144]:
# 44. Reverse the elements of a tuple.
reversed_tuple = tuple(reversed(unsorted_tuple))
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (2, 4, 1, 3, 5)

In [145]:
# 45. Create a tuple of the first `n` powers of 2.
powers_of_2_tuple = tuple(2**i for i in range(5))
print(" Tuple of the first 5 powers of 2:", powers_of_2_tuple)

 Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [146]:
# 46. Find the longest string in a tuple of strings.
strings_tuple = ("apple", "banana", "kiwi", "strawberry")
longest_string_tuple = max(strings_tuple, key=len)
print(" Longest string in the tuple:", longest_string_tuple)

 Longest string in the tuple: strawberry

In [147]:
# 47. Find the shortest string in a tuple of strings.
shortest_string_tuple = min(strings_tuple, key=len)
print(" Shortest string in the tuple:", shortest_string_tuple)

 Shortest string in the tuple: kiwi

In [148]:

# 48. Create a tuple of the first `n` triangular numbers.
triangular_numbers_tuple = tuple(i * (i + 1) // 2 for i in range(5))
print("Tuple of the first 5 triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (0, 1, 3, 6, 10)

In [149]:
# 49. Check if a tuple contains another tuple as a subsequence.
tuple_subsequence = (3, 4, 5)
is_subsequence_tuple = all(element in unsorted_tuple for element in tuple_subsequence)
print(" Is the tuple a subsequence of another tuple?", is_subsequence_tuple)

 Is the tuple a subsequence of another tuple? True

In [150]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n = 8
alternating_tuple = tuple((1, 0) * (n // 2) + (1, ) * (n % 2))
print(" Tuple of alternating 1s and 0s:", alternating_tuple)

 Tuple of alternating 1s and 0s: (1, 0, 1, 0, 1, 0, 1, 0)

In [151]:
#  Set Based Practice Problem :
# 1. Create a set with integers from 1 to 5.
integer_set = {1, 2, 3, 4, 5}
print(" Set with integers from 1 to 5:", integer_set)

 Set with integers from 1 to 5: {1, 2, 3, 4, 5}

In [152]:
# 2. Add an element to a set.
integer_set.add(6)
print("Set after adding element 6:", integer_set)

Set after adding element 6: {1, 2, 3, 4, 5, 6}

In [153]:
# 3. Remove an element from a set.
integer_set.remove(3)
print("Set after removing element 3:", integer_set)

Set after removing element 3: {1, 2, 4, 5, 6}

In [154]:
# 4. Check if an element exists in a set.
element_to_check = 4
exists_in_set = element_to_check in integer_set
print(f" Element {element_to_check} exists in the set: {exists_in_set}")

 Element 4 exists in the set: True

In [155]:

# 5. Find the length of a set without using the `len()` function.
set_length = sum(1 for _ in integer_set)
print(" Length of the set:", set_length)

 Length of the set: 5

In [156]:
# 6. Clear all elements from a set.
integer_set.clear()
print(" Set after clearing all elements:", integer_set)

 Set after clearing all elements: set()

In [157]:
# 7. Create a set of even numbers from 1 to 10.
even_set = set(range(2, 11, 2))
print("Set of even numbers from 1 to 10:", even_set)

Set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

In [158]:
# 8. Create a set of odd numbers from 1 to 10.
odd_set = set(range(1, 11, 2))
print(" Set of odd numbers from 1 to 10:", odd_set)

 Set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

In [159]:
# 9. Find the union of two sets.
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union_set = set_a.union(set_b)
print(" Union of two sets:", union_set)

 Union of two sets: {1, 2, 3, 4, 5}

In [160]:
# 10. Find the intersection of two sets.
intersection_set = set_a.intersection(set_b)
print(" Intersection of two sets:", intersection_set)

 Intersection of two sets: {3}

In [161]:
# 11. Find the difference between two sets.
difference_set = set_a.difference(set_b)
print(" Difference between two sets:", difference_set)

 Difference between two sets: {1, 2}

In [162]:
# 12. Check if a set is a subset of another set.
subset_check = set_a.issubset(set_b)
print(" Is set_a a subset of set_b?", subset_check)

 Is set_a a subset of set_b? False

In [163]:
# 13. Check if a set is a superset of another set.
superset_check = set_a.issuperset(set_b)
print(" Is set_a a superset of set_b?", superset_check)

 Is set_a a superset of set_b? False

In [164]:
# 14. Create a set from a list.
list_to_set = set([1, 2, 3, 4, 5])
print(" Set created from a list:", list_to_set)

 Set created from a list: {1, 2, 3, 4, 5}

In [165]:
# 15. Convert a set to a list.
set_to_list = list(list_to_set)
print(" List converted from a set:", set_to_list)

 List converted from a set: [1, 2, 3, 4, 5]

In [166]:
import random

In [167]:
# 16. Remove a random element from a set

# Assuming demo_set is defined somewhere in your code
demo_set = {1, 2, 3, 4, 5}

# Remove a random element from a set
random_element = random.choice(list(demo_set))
demo_set.remove(random_element)

print("Set after removing a random element:", demo_set)

Set after removing a random element: {1, 2, 3, 5}

In [168]:
# 17. Pop an element from a set.
# Assuming demo_set 
demo_set = {1, 2, 3, 4, 5}

# Pop an element from a set
popped_element = demo_set.pop()

print("Set after popping an element:", demo_set)
print("Popped element:", popped_element)

Set after popping an element: {2, 3, 4, 5}
Popped element: 1

In [169]:
# 18.  Check if two sets have no elements in common

set_a = {1, 2, 3, 4, 5}
set_b = {6, 7, 8, 9, 10}

# Check if two sets have no elements in common
no_common_elements = set_a.isdisjoint(set_b)

print(" set_a and set_b have no elements in common?", no_common_elements)

 set_a and set_b have no elements in common? True

In [170]:
# 19. Find the symmetric difference between two sets
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

symmetric_difference_set = set_a.symmetric_difference(set_b)

print("Symmetric difference between set_a and set_b:", symmetric_difference_set)

Symmetric difference between set_a and set_b: {1, 2, 3, 6, 7, 8}

In [171]:
# 20. Update a set with elements from another set 
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
 
set_a.update(set_b)

print("Set_a after updating with elements from set_b:", set_a)

Set_a after updating with elements from set_b: {1, 2, 3, 4, 5, 6, 7, 8}

In [172]:
# 21. Create a set of the first 5 prime numbers.
set_of_primes = {2, 3, 5, 7, 11}

set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

print("Set of the first 5 prime numbers:", set_of_primes)
print("Set A:", set_a)
print("Set B:", set_b)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}
Set A: {1, 2, 3, 4, 5}
Set B: {4, 5, 6, 7, 8}

In [173]:
# 22. Check if two sets are identical.
are_identical = set_a == set_b
print(" Are set_a and set_b identical?", are_identical)

 Are set_a and set_b identical? False

In [174]:
# 23. Create a frozen set.
frozen_set = frozenset(set_a)
print(" Frozen set:", frozen_set)

 Frozen set: frozenset({1, 2, 3, 4, 5})

In [175]:
# 24. Check if a set is disjoint with another set.
is_disjoint = set_a.isdisjoint(set_b)
print("Is set_a disjoint with set_b?", is_disjoint)

Is set_a disjoint with set_b? False

In [176]:
# 25. Create a set of squares of numbers from 1 to 5.
set_of_squares = {x**2 for x in range(1, 6)}
print(" Set of squares:", set_of_squares)

 Set of squares: {1, 4, 9, 16, 25}

In [177]:
# 26. Filter out all even numbers from a set.
set_without_evens = {x for x in set_a if x % 2 != 0}
print(" Set without even numbers:", set_without_evens)

 Set without even numbers: {1, 3, 5}

In [178]:
# 27. Multiply all elements in a set by 2.
set_multiplied_by_2 = {x * 2 for x in set_a}
print(" Set with elements multiplied by 2:", set_multiplied_by_2)

 Set with elements multiplied by 2: {2, 4, 6, 8, 10}

In [179]:
# 28. Create a set of random numbers.
random_set = {random.randint(1, 10) for _ in range(5)}
print(" Set of random numbers:", random_set)

 Set of random numbers: {8, 9, 1, 7}

In [180]:
# 29. Check if a set is empty.
is_empty_set = len(set_a) == 0
print(" Is set_a empty?", is_empty_set)

 Is set_a empty? False

In [181]:
# 30. Create a nested set (using frozenset).
nested_set = frozenset({frozenset({1, 2}), frozenset({3, 4})})
print(" Nested set:", nested_set)

 Nested set: frozenset({frozenset({3, 4}), frozenset({1, 2})})

In [182]:
# 31. Remove an element from a set using the discard method.
element_to_remove = 3
set_a.discard(element_to_remove)
print(" Set_a after removing element", element_to_remove, "using discard:", set_a)

 Set_a after removing element 3 using discard: {1, 2, 4, 5}

In [183]:
# 32. Compare two sets.
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}


are_equal_sets = set_a == set_b
is_subset = set_a.issubset(set_b)
is_superset = set_a.issuperset(set_b)
print(" Are set_a and set_b equal?", are_equal_sets)
print("    Is set_a a subset of set_b?", is_subset)
print("    Is set_a a superset of set_b?", is_superset)

 Are set_a and set_b equal? False
    Is set_a a subset of set_b? False
    Is set_a a superset of set_b? False

In [184]:
# 33. Create a set from a string.
string_set = set("hello")
print(" Set created from a string:", string_set)

 Set created from a string: {'h', 'o', 'l', 'e'}

In [185]:
# 34. Convert a set of strings to a set of integers.
string_set = {"1", "2", "3", "4", "5"}
int_set = {int(x) for x in string_set}
print(" Set of strings converted to integers:", int_set)

 Set of strings converted to integers: {1, 2, 3, 4, 5}

In [186]:
# 35. Convert a set of integers to a set of strings.
int_set = {1, 2, 3, 4, 5}
string_set = {str(x) for x in int_set}
print(" Set of integers converted to strings:", string_set)

 Set of integers converted to strings: {'2', '1', '3', '5', '4'}

In [187]:
# 36. Create a set from a tuple.
tuple_set = set((1, 2, 3, 4, 5))
print(" Set created from a tuple:", tuple_set)

 Set created from a tuple: {1, 2, 3, 4, 5}

In [188]:
# 37. Convert a set to a tuple.
set_to_tuple = tuple(set_a)
print("Set converted to a tuple:", set_to_tuple)

Set converted to a tuple: (1, 2, 3, 4, 5)

In [189]:
# 38. Find the maximum value in a set.
max_value = max(set_a)
print(" Maximum value in set_a:", max_value)

 Maximum value in set_a: 5

In [190]:
# 39. Find the minimum value in a set.
min_value = min(set_a)
print("Minimum value in set_a:", min_value)

Minimum value in set_a: 1

In [191]:
# 40. Create a set from user input.
user_input_set = set(map(int, input(" Enter numbers separated by spaces: ").split()))
print(" Set created from user input:", user_input_set)

 Enter numbers separated by spaces:  2 4 6 8 9

 Set created from user input: {2, 4, 6, 8, 9}

In [192]:
# 41. Check if the intersection of two sets is empty.
intersection_empty_check = set_a.isdisjoint(set_b)
print(" Is the intersection of set_a and set_b empty?", intersection_empty_check)

 Is the intersection of set_a and set_b empty? False

In [193]:
# 42. Function to generate the first n Fibonacci numbers
def generate_fibonacci_set(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
fibonacci_numbers_set = generate_fibonacci_set(5)
print("Set of the first 5 Fibonacci numbers:", fibonacci_numbers_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [194]:
# 43. Remove duplicates from a list using sets.
original_list = [1, 2, 2, 3, 4, 4, 5]
list_without_duplicates = list(set(original_list))
print(" List with duplicates removed using sets:", list_without_duplicates)

 List with duplicates removed using sets: [1, 2, 3, 4, 5]

In [195]:
# 44. Check if two sets have the same elements, regardless of their count.
have_same_elements = set_a == set_b
print("Do set_a and set_b have the same elements?", have_same_elements)

Do set_a and set_b have the same elements? False

In [196]:
# 45. Create a set of the first `n` powers of 2.
n_powers_of_2 = {2**i for i in range(5)}
print(" Set of the first 5 powers of 2:", n_powers_of_2)

 Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [197]:
# 46. Find the common elements between a set and a list.
common_elements = set_a.intersection([1, 2, 5, 6, 7])
print(" Common elements between set_a and a list:", common_elements)

 Common elements between set_a and a list: {1, 2, 5}

In [198]:
# 47. Create a set of the first `n` triangular numbers.
n_triangular_numbers = {(i * (i + 1)) // 2 for i in range(5)}
print("Set of the first 5 triangular numbers:", n_triangular_numbers)

Set of the first 5 triangular numbers: {0, 1, 3, 6, 10}

In [199]:
# 48. Check if a set contains another set as a subset.
set_a = {1, 2, 3, 4, 5}
set_b = {2, 3}
is_subset = set_b.issubset(set_a)
print("Is set_b a subset of set_a?", is_subset)

Is set_b a subset of set_a? True

In [200]:
# 49. Create a set of alternating 1s and 0s of length `n`.
def alternating_set(n):
    return {1 if i % 2 == 0 else 0 for i in range(n)}

alternating_set_result = alternating_set(5)
print("Set of alternating 1s and 0s:", alternating_set_result)

Set of alternating 1s and 0s: {0, 1}

In [201]:
# 50. Merge multiple sets into one.
set_c = {1, 2, 3}
set_d = {3, 4, 5}
set_e = {5, 6, 7}
merged_set = set_c.union(set_d, set_e)
print(" Merged set:", merged_set)

 Merged set: {1, 2, 3, 4, 5, 6, 7}